table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

th, td {
  padding: 10px;
  text-align: center;
  width: 33.33%;
}

tr {
  border: 1px solid #ddd; /* Add border to table rows */
}

th.sorted-asc {
  background-color: #d4edda;
  color: #155724;
}

th.sorted-desc {
  background-color: #f8d7da; /* Corrected background color */
  color: #721c24; /* Corrected text color */
}

.centered {
  text-align: center;
}

.centered div {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
